// Sidebar
$menuBg: #304156;
$menuHover: #263445;
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// Sidebar width
$sideBarWidth: 210px;
$sideBarCollapseWidth: 54px;

// Header
$navbarHeight: 50px;

// Colors
$primaryColor: #409eff;
$successColor: #67c23a;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$infoColor: #909399;
